* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contain{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-title);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: var(--height-header);
}

.header-overflow{
    position: fixed;
    width: 100%;
    height: var(--height-header);
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
}

.header-sub{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    line-height: var(--height-header);
    margin: auto;
    max-width: var(--width-content);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1999;
}


.header-sub-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sub-logo img{
    display: block;
    width: 50px;
    height: 50px;
}

.title-logo{
    padding-left: 10px;
    color: var(--primary-color);
}

.header-sub-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: headerFadeIn ease 0.3s ;
}


.header-sub-list-link{
    text-decoration: none;
    color: var(--primary-color);
}

.header-sub-list-item, .list-menu{
    width: var(--width-bottom);
    height: var(--height-bottom);
    text-align: center;
    line-height: var(--height-bottom);
    border-radius: 10px;
    transition: all 0.2s linear;
}

.header-input{
    position: relative;
    height: var(--height-bottom);
    padding: 0px 35px;
    border-radius: 5px;
    border: none;
    /* width: var(--width-search); */
    outline: none;
    font-size: 15px;
}

.header-icon-search{
    display: block;
    position: absolute;
    z-index: 1;
    line-height: var(--height-header);
    margin: 0 10px;
    color: var(--primary-color);
}


.infomation-person{
    display: flex;
    list-style: none;
}

.infomation-person li, .list-menu{
    color: var(--primary-color);
    width: 50px;
}

.header-sub-list-item:hover, .shopping-cart:hover, .account:hover, .list-menu:hover, .close-icon-sub:hover{
    background-color:var(--bottom-color);
    cursor: pointer;
}

.heaader-icon{
    font-size: var(--font-icon);
}

.list-menu{
    display: none;
}

.header-choice.open{
    display: block;
    }


@keyframes headerFadeIn {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

.close-icon{
    display: none;
}

.close-icon.show{
    display: block;
}

.close-icon-sub{
    display: block;
    position: absolute;
    font-size: 20px;
    color: var(--primary-color);
    top: 0; 
    right: 0;
    z-index: 444;
    padding: 16px;
    transition: all 0.2s linear;
    border-radius: 5px;
}

/* ================Slider============= */

.slider{
    width: 100%;
}

.slider-sub{
    position: relative;
}

.slider-overflow{
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}


.slider-img{
    width: 100%;
    height: auto;
}

.Title-slider{
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -200%);
    color: #fff;
    opacity: 0.8;
    font-size: 4rem;
}

/* ======Content====== */
#content{
    width: 100%; 
    text-align: center;
}


.content-sub{
    max-width: var(--width-content);
    margin: auto;
}


.title{
    padding: 64px 0;
    color: var(--primary-color);
    font-weight: 700;
}

.Title-content{
    padding: 32px 0;
    font-size: 30px;
}

.Title-sub{
    font-size: 15px;
}


.Tour-list{
    padding: 30px -8px;
    display: flex;
}

.Tour-list-item{
    width: 100%;
    padding: 0px 8px;
    margin: 36px 0;
    box-shadow: 1px 5px 5px #ccc;
    border-radius: 10px;
    transition: all 0.3s linear;

}

.Tour-list-item:hover{
    transform: scale(1.03);
}

.Tour-list-img{
    display: block;
    width: 100%;
}

.Bottom-item{
    font-size: 16px;
    width: var(--width-bottom);
    margin: 32px auto;
    height: var(--height-bottom);
    background-color: var(--bottom-color);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    line-height: var(--height-bottom);
}

.Bottom-item:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #ccc;
    transition: all 0.2s linear;
}

.Bottom-item:hover{
    background-color: rgb(254, 166, 14);
}

.Bottom-link{
    text-decoration: none;
    color: var(--primary-color);
}

/* ====Booking===== */

#Booking{
    width: 100%;
    height: var(--height-booking);
}

.booking-overflow{
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
}


.booking-sub{
    position: relative;
    width: 100%;
    background-image: url("../img/thiet-ke-noi-that-chung-cu-bia.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
}

.content-booking{
    position: relative;
    z-index: 3;
}

.booking-menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
}

.booking-menu-item{
    
    padding: 8px;
    background-color: #fff;
    box-shadow: 1px 5px 3px #ccc;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.booking-menu-item:hover{
    transform: scale(1.03);
}

.booking-item-list{
    width: 100%;
    border-radius: 5px;
}

.title-apartment{
    color: rgba(255, 255, 255, 0.8);;
}

.title-description{
    font-size: 16px;
    font-weight: 700;
}

.title-description-sub{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 5.4rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* =====Ticket===== */

.content-sub-item{
    display: grid;
    grid-template-columns: auto auto;
    transition: all 0.3s linear;
}

.content-sub-item:hover{
    transform: scale(1.03);
}

.content-sub-item-list{

    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #ccc;
    background-color: #fff;
    color: var(--primary-color);
}

.img-item-plane{
    width: 100%;
    height: 100%;
    background-image: url("../img/vemaybay1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    transition: all 0.3s linear;
}

.img-item-plane:hover{
    transform: scale(1.03);
}

.buy-ticket{
    padding: 32px;
}

.Title-ticket-main{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 32px;
}

.Ticket-item-img{
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s linear;

}

.Ticket-item-img:hover{
    transform: scale(1.03);
}

.form-ticket{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

.form-item1, .form-item2{
    grid-column-start: 1;
    grid-column-end: 4;
}

.form-item3{
    grid-column-start: 1;
    grid-column-end: 3;
    /* margin-right: 30px; */
}

.input-ticket{
    outline: var(--primary-color);
    width: 100%;
    padding: 8px;
}

.button-main{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 16px;
}

.buttom-buy-ticket{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: var(--bottom-color);
    border: none;
    transition: all 0.2s linear;
}

.buttom-buy-ticket:hover{
    background-color: rgb(254, 166, 14);
    transform: scale(1.03);
}


/* ====Food==== */

#Food{
    margin-top: 36px;
}

.food-container{
    width: 100%;
    position: relative;
    background-image: url("../img/Food1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10%;
}

.food-overflow{
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}


.title-food{
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.description-food{
    color: #fff;
}

.food-button{
    position: relative;
    z-index: 2;
}

.food-button:hover{
    box-shadow: 5px 5px 5px #000;
}

.footer-constainer{
    padding: 36px 0;
}

.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-link{
    text-decoration: none;
    color: #000;
}

.footer-icon{
    display: block;
    padding: 0px 16px;
    font-size: 1.5rem;
}

.content-food{
    text-align: center;
}

.Hotline{
    padding-top: 8px;
}










